.loadButton {
    margin: 0 auto;
    display: block;
    height: 50px;
    font-size: 25px;
    border: none;
    border-radius: 20px;
    background: white;
    color: black;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.loadButton:hover {
    transform: scale(1.1);
}

.usersContainer {
    position: relative;
}

.loadButtonContainer {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.loading {
    position: absolute;
    width: 100%;
    background: #000;
    height: 100%;
    color: white;
    font-size: 50px;
}

.usersList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    padding: 20px;
    margin: 20px auto;
    background: #171719;
    border-radius: 20px;
}