.item {
    color: #ffffff;
    display: flex;
    gap: 15px;
    align-items: center;
    flex-direction: column;
    min-width: 130px;
}

.item img {
    width: 80px;
    height: 100%;
    background-position: center center;
    background-size: cover;
    display: block;
    border-radius: 50%;
}

.postItem {
    padding: 30px 20px;
    display: flex;
    gap: 20px;
    color: white;
    border-bottom: 1px solid #333;
}

.postItem:last-child {
    border-bottom: none;
}

.itemContent {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.itemUsername {
    font-size: 18px;
    font-weight: 300;
}

.likeIcon {
    color: #ffffff;
    cursor: pointer;
    margin-right: 3px;
}

.likeIcon:hover {
    color: #ff0000;
}

.likeCount {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}