.logo {
    height: 70px;
    display: flex;
    align-items: center;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.logoText {
    font-size: 35px;
    font-weight: 200;
    color: white;
    letter-spacing: 5px;
}

.logoSpan {
    color: #f51dd0;
}

.header {
    border-bottom: #f51dd0 2px solid;
    background: #171719;
}

.headerContainer {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.loginContainer {
    color: white;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: white;
}

.logout {
    border: none;
    background: rgba(200, 26, 170, 0.89);
    padding: 5px;
    border-radius: 10px;
    font-size: 13px;
    cursor: pointer;
    color: white;
    transition: 0.4s ease;
}

.logoutContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}