.dialogs {
    display: flex;
    background: #1b1e29;
    border: 1px solid #38384f;
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.dialogsItems {
    width: 30%;
    height: 90vh;
    background: #181a31;
}

.messages {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.messagesContainer {

}


.dialog:active, .dialog:focus {
    background: rgba(0,0,0,0.2);
}

.textArea {
    display: flex;
    width: 100%;
    grid-column: span 2;
}

.dialogTextButton {
    padding: 5px;
    height: 30px;
}

.dialogTextArea {
    height: 30px;
    width: 100%;
    resize: none;
}

.inDevelopment {
    color: white;
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(2px);
}